USE [GPSTest]
GO
/****** Object:  Table [dbo].[tempdataLPrintMark8636660109020086366601091000]    Script Date: 11/23/2017 11:48:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tempdataLPrintMark8636660109020086366601091000](
	[IMEI] [varchar](50) NOT NULL,
	[SoftModel] [varchar](50) NULL,
	[Version] [varchar](50) NULL,
	[ZhiDan] [varchar](30) NULL,
	[Computer] [varchar](100) NULL,
	[TestTime] [datetime] NULL,
	[_MASK_FROM_V2] [timestamp] NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
