USE [GPSTest]
GO
/****** Object:  Table [dbo].[Sheet1]    Script Date: 11/23/2017 11:48:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sheet1](
	[IMEI1] [nvarchar](255) NULL,
	[ZHIDAN] [nvarchar](255) NULL,
	[SN] [nvarchar](255) NULL
) ON [PRIMARY]
GO
