USE [GPSTest]
GO
/****** Object:  Table [dbo].[80]    Script Date: 11/23/2017 11:48:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[80](
	[IMEI] [nvarchar](255) NULL,
	[SN] [nvarchar](255) NULL
) ON [PRIMARY]
GO
